@model marcaconsulta_web_netcore.Models.AgendamentoModel;

@{
    ViewData["Title"] = "Marcar Consulta";

}

<html>

<h1 align="center">@ViewData["Title"]</h1>

    <br><br>

    

    <form asp-controller="Agendamento" asp-action="Cadastrar" method="post">

        <input type="hidden" asp-for="Id"/>


        <div class="form-group">
            <label for="paciente">Paciente:</label>
            <input type="text" class="form-control" asp-for="PacienteId"/>
        </div>

        <div class="form-group">
            <label for="profissional">Profissional:</label>
            <input type="text" class="form-control" id="Profissional"/>
        </div>
        
        <div class="form-group">
            <label for="agenda">Agenda:</label>
            @Html.DropDownListFor(m => m.ProfissionalAgendaId, Model.ListaProfissionalAgendas, new { @class="form-select"})
        </div>

    
        <br><br>
    
        <button type="submit" class="btn btn-primary btn-block btn-success">Registrar</button>
        <a class="btn btn-secondary" asp-controller="Agendamento" asp-action="Index" role="button">Voltar</a>

    </form>

    
        
</html>

<script>

    function Voltar(){

        window.location.href = "../Index";

    }
</script>