@model marcaconsulta_web_netcore.Models.AgendamentoModel;

@{
    ViewData["Title"] = "Marcar Consulta";

}

<html>

<h1>@ViewData["Title"]</h1>

    <br><br>

    <div>

        <form asp-controller="Agendamento" asp-action="Cadastrar" method="post">
            <input type="hidden" asp-for="Id"/>
            <table>
            
                <tr>
                    <td><label>Paciente:</label></td>
                    <td><input type="text" asp-for="PacienteId"/></td>
                </tr>
                
                <tr>
                    <td><label>Profissional:</label></td>
                    <td><input type="text" id="Profissional"/></td>
                    
                </tr>


                <tr>
                    <td><label>Agenda:</label></td>
                    <td>@Html.DropDownListFor(m => m.ProfissionalAgendaId, Model.ListaProfissionalAgendas, new { @class="form-select"})</td>
                </tr>
                
                </tr>

        </table> 
        
            <br><br><br>
        
            <button type="submit" class="btn btn-block btn-success">Registrar</button>
            <button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Voltar</button>

        </form>

    </div>
    
        
</html>

<script>

    function Voltar(){

        window.location.href = "../Agendamento/Index";

    }
</script>