@model marcaconsulta_web_netcore.Models.PacienteModel;

@{
    ViewData["Title"] = "Cadastrar Paciente";

}


<html>
    <h1 align="center">@ViewData["Title"]</h1>

    <br>

    <form asp-controller="Paciente" asp-action="Cadastrar" method="post">
        <input type="hidden" asp-for="Id"/>
            
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" placeholder="Digite o nome do paciente" asp-for="Nome"/>
        </div>

        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" placeholder="Digite o CPF do paciente" asp-for="Cpf" />
        </div>

        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" class="form-control" name="telefone" id="telefone" asp-for="Telefone" placeholder="(__) _____-____" maxlength="15" />
        </div>

        <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input type="text" class="form-control" placeholder="Digite o endereço do paciente" asp-for="Endereco" />
        </div>

        <div class="form-group">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" placeholder="Digite o bairo do paciente" asp-for="Bairro" />
        </div>

        <div class="form-group">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" placeholder="Digite a cidade do paciente" asp-for="CidadeId" />
        </div>

        <br>
        <button type="submit" class="btn btn-primary btn-block btn-success">Registrar</button>
        <a class="btn btn-secondary" asp-controller="Paciente" asp-action="Index" role="button">Voltar</a>
        
    </form>


</html>

<script type="text/javascript" language="javascript">

    function mascara(o,f){
        v_obj=o
        v_fun=f
        setTimeout("execmascara()",1)
    }

    function execmascara(){
        v_obj.value=v_fun(v_obj.value)
    }

    function mtel(v){
        v=v.replace(/\D/g,""); //Remove tudo o que não é dígito
        v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
        v=v.replace(/(\d)(\d{4})$/,"$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
        return v;
    }

    function id( el ){
        return document.getElementById( el );
    }

    window.onload = function(){
        id('telefone').onkeyup = function(){
            mascara( this, mtel );
        }
}

</script>