@model marcaconsulta_web_netcore.Models.PacienteModel;

@{
    ViewData["Title"] = "Cadastrar Paciente";

}


<html>
    <h1>@ViewData["Title"]</h1>

    <br><br>

    <div>

        <form asp-controller="Paciente" asp-action="Cadastrar" method="post">
            <input type="hidden" asp-for="Id"/>
            <table>
            
                <tr>
                    <td style="text-align: right;"><label>Nome:</label></td>
                    <td><input type="text" asp-for="Nome"/></td>
                </tr>
                
                <tr>
                    <td style="text-align: right;"><label>CPF:</label></td>
                    <td><input type="text" asp-for="Cpf"/></td>
                </tr>
                
                <tr>
                    <td style="text-align: right;"><label>Telefone:</label></td>
                    <td><input type="text" name="telefone" id="telefone" asp-for="Telefone" placeholder="(__) _____-____"  maxlength="15"/></td>
                </tr>
                
                <tr>
                    <td style="text-align: right;"><label>Endereço:</label></td>
                    <td><input type="text" asp-for="Endereco"/></td>
                </tr>

                <tr>
                    <td style="text-align: right;"><label>Bairro:</label></td>
                    <td><input type="text" asp-for="Bairro"/></td>
                <tr>
                
                <tr>    
                    <td style="text-align: right;"><label>Cidade:</label></td>
                    <td><input type="text" asp-for="CidadeId"/></td>
                </tr>
                
            </table> 
         
            <br><br><br>
            <button type="submit" class="btn btn-block btn-success">Registrar</button>
            <button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Voltar</button>
        
        </form>

    </div>

</html>

<script type="text/javascript" language="javascript">

    function Voltar(){

        window.location.href = "../Index";

    }

    function mascara(o,f){
        v_obj=o
        v_fun=f
        setTimeout("execmascara()",1)
    }

    function execmascara(){
        v_obj.value=v_fun(v_obj.value)
    }

    function mtel(v){
        v=v.replace(/\D/g,""); //Remove tudo o que não é dígito
        v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
        v=v.replace(/(\d)(\d{4})$/,"$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
        return v;
    }

    function id( el ){
        return document.getElementById( el );
    }

    window.onload = function(){
        id('telefone').onkeyup = function(){
            mascara( this, mtel );
        }
}

</script>