@model marcaconsulta_web_netcore.Models.ProfissionalModel;

@{
    ViewData["Title"] = "Cadastrar Profissional";

}

<html>
    <h1 align="center">@ViewData["Title"]</h1>
    

    
       <form asp-controller="Profissional" asp-acti on="Cadastrar" method="post">
            <input type="hidden" asp-for="Id"/>

            <div 
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" placeholder="Digite o nome do profissional" asp-for="Nome"/>
            </div>
                        
            <div>
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" placeholder="Digite o CPF do profissional" asp-for="Cpf" />
            </div>
                        
            <div>
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" name="telefone" asp-for="Telefone" placeholder="(__) _____-____" maxlength="15" />
            </div>
                        
            <div>
                <label for="endereco">Endereço:</label>
                <input type="text" class="form-control" placeholder="Digite o endereço do profissional" asp-for="Endereco" />
            </div>
                        
            <div>
                <label for="bairro">Bairro:</label>
                <input type="text" class="form-control" placeholder="Digite o bairro do profissional" asp-for="Bairro" />
            </div>

            <div>
                <label for="cidade">Cidade:</label>
                <input type="text" class="form-control" placeholder="Digite a cidade do profissional" asp-for="CidadeId" />
            </div>
                    
            <div>
                <label for="especialidade">Especialidade:</label>
                @Html.DropDownListFor(m => m.EspecialidadeId, Model.ListaEspecialidades, new { @class="form-select"})
            </div>
                            
            <br>
            <button type="submit" class="btn btn-primary btn-block btn-success">Registrar</button>
            <a class="btn btn-secondary" asp-controller="Profissional" asp-action="Index" role="button">Voltar</a>

        </form>
        
</html>

<script type="text/javascript" language="javascript">

        function mascara(o,f){
        v_obj=o
        v_fun=f
        setTimeout("execmascara()",1)
    }

    function execmascara(){
        v_obj.value=v_fun(v_obj.value)
    }

    function mtel(v){
        v=v.replace(/\D/g,""); //Remove tudo o que não é dígito
        v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
        v=v.replace(/(\d)(\d{4})$/,"$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
        return v;
    }

    function id( el ){
        return document.getElementById( el );
    }

    window.onload = function(){
        id('telefone').onkeyup = function(){
            mascara( this, mtel );
    }
}
</script>