@model marcaconsulta_web_netcore.Models.ProfissionalModel;

@{
    ViewData["Title"] = "Cadastrar Profissional";

}


<style>



</style>
<html>
    <h1>@ViewData["Title"]</h1>
    
    <br><br>
    
    <div>

        <form asp-controller="Profissional" asp-action="Cadastrar" method="post">
            <input type="hidden" asp-for="Id"/>

                <table>
                    <tr>
                        <td style="text-align: right;"><label>Nome:</label></td>
                        <td><input type="text" asp-for="Nome"/></td>
                    </tr>

                    <tr>
                        <td style="text-align: right;"><label>CPF:</label></td>
                        <td><input type="text" asp-for="Cpf"/></td>
                    </tr>

                    <tr>
                        <td style="text-align: right;"><label>Telefone:</label></td>
                        <td><input type="text" asp-for="Telefone"/></td>
                    </tr>

                    <tr>
                        <td style="text-align: right;"><label>Endereço:</label></td>
                        <td><input type="text" asp-for="Endereco"/></td>
                    </tr>

                    <tr>
                        <td style="text-align: right;"><label>Bairro:</label></td>
                        <td><input type="text" asp-for="Bairro"/></td>
                    </tr>

                    <tr>
                        <td style="text-align: right;"><label>Cidade:</label></td>
                        <td><input type="text" asp-for="CidadeId"/></td>
                    </tr>
                    
                    <tr>
                        <td style="text-align: right;"><label>Especialidade:</label><br></td>
                        <td>@Html.DropDownListFor(m => m.EspecialidadeId, Model.ListaEspecialidades, new { @class="form-select"})</td>
                    </tr>

                </table>
                
                    <br><br><br>
                    <button type="submit" class="btn btn-block btn-success">Registrar</button>
                    <button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Voltar</button>
        </form>
    </div>
    
</html>

<script>

    function Voltar(){

        window.location.href = "../Profissional/Index";

    }
</script>