@model marcaconsulta_web_netcore.Models.ProfissionalAgendaModel;

@{
    ViewData["Title"] = "Cadastrar Agenda Profissional";

}

<html>
    
    <h1 align="center">@ViewData["Title"]</h1>
    
    <br><br>
    
    <form asp-controller="ProfissionalAgenda" asp-action="Cadastrar" method="post">
        <input type="hidden" asp-for="Id"/>

        <div>
            <label for="profissional">Profissional:</label>
            <input type="text" class="form-control"asp-for="ProfissionalId"/>
        </div>

        <div>
            <label for="data">Data:</label>
            <input type="date" class="form-control" asp-for="Data"/>
        </div>

        <div>
            <label for="horainicio">Hora Início:</label>
            <input type="time" class="form-control" asp-for="HoraInicio"/>
        </div>

        <div>
            <label for="horafim">Hora Fim:</label>
            <input type="time" class="form-control" asp-for="HoraFim"/>
        </div>
            
        <br><br><br>    
        
        <button type="submit" class="btn btn-primary btn-block btn-success">Registrar</button>
        <a class="btn btn-secondary" asp-controller="ProfissionalAgenda" asp-action="Index" role="button">Voltar</a>

    </form>


    </div>
    
</html>

<script>

    function Voltar(){

        window.location.href = "../Index";

    }
</script>