@model marcaconsulta_web_netcore.Models.ProfissionalAgendaModel;

@{
    ViewData["Title"] = "Agenda Profissional";

}

<html>
    
    <h1>@ViewData["Title"]</h1>
    
    <br><br>
    
    <div>

        <form asp-controller="ProfissionalAgenda" asp-action="Cadastrar" method="post">
            <input type="hidden" asp-for="Id"/>
                <table>
                    <tr>
                        <td><label>Profissional:</label></td>
                        <td><input type="text" asp-for="ProfissionalId"/></td>
                    </tr>
                    <tr>
                        <td><label>Data:</label></td>
                        <td><input type="date" asp-for="Data"/></td>
                    </tr>
                    <tr>
                        <td><label>Hora Início:</label></td>
                        <td><input type="time" asp-for="HoraInicio"/></td>
                    </tr>
                    <tr>
                        <td><label>Hora Fim:</label></td>
                        <td><input type="time" asp-for="HoraFim"/></td>
                    </tr>
       
                </table>
                
                <br><br><br>    
                <button type="submit" class="btn btn-block btn-success">Registrar</button>
                <button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Voltar</button>
        </form>


    </div>
    
</html>

<script>

    function Voltar(){

        window.location.href = "../Index";

    }
</script>